[Desktop Entry]
Name=Vuescan
Comment=Vuescan
Comment[ru]=Vuescan
Icon=vuescan
Exec=/usr/bin/vuescan
TryExec=/usr/bin/vuescan
Type=Application
Categories=Grapchics;
