[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec=/opt/1cv8/x86_64/8.3.19.1417/1cestart
Categories=Office;Finance;
Name[az]=1C:Müəssisə 64
Name[bg]=1С:Предприятие 64
Name[de]=1C:Enterprise 64
Name[el]=1C:Επιχείρηση 64
Name[en_GB]=1C:Enterprise 64
Name[es]=1С:Empresa 64
Name[fr]=1C:Entreprise 64
Name[hu]=1C:Enterprise 64
Name[hy]=1C:Ձեռնարկություն 64
Name[it]=1C:Enterprise 64
Name[ka]=1C:საწარმო 64
Name[kk]=1С:Кәсіпорын 64
Name[lt]=1C:Organizacija 64
Name[lv]=1C:Uzņēmums 64
Name[pl]=1C:Enterprise 64
Name[ro]=1C:Enterprise 64
Name[ru_RU]=1С:Предприятие 64
Name[tr]=1C:İşletme 64
Name[uk]=1С:Підприємство 64
Name[vi]=1C:DOANH NGHIỆP 64
Name[zh]=1C:企业 64
Name=1C:Enterprise 64
Icon=1cestart-8.3.19-1417
