#------------------------------------------------------------------------------
# Modified Calculate Utilities 3.7.1.24
# Processed template files:
# /var/db/repos/calculate/profiles/templates/3.6/6_ac_desktop_profile/2-user/x11-misc/x11vnc/x11vnc.desktop
#------------------------------------------------------------------------------
[Desktop Entry]
Name=X11VNC Server
Comment=Share this desktop by VNC
Exec=x11vnc -gui tray=setpass -rfbport PROMPT -bg -o %%HOME/.x11vnc.log.%%VNCDISPLAY
Icon=computer
Terminal=false
Type=Application
StartupNotify=false
#StartupWMClass=x11vnc_port_prompt
Categories=Network;RemoteAccess;
NoDisplay=true
