[Desktop Entry]
Name=balenaEtcher
Comment=Flash OS images to SD cards & USB drives, safely and easily.
Comment[ru]=Запись ISO образов на SD-карты и USB-накопители, безопасно и легко.
Icon=etcher
Exec=/usr/sbin/etcher
TryExec=/usr/sbin/etcher
StartupNotify=true
Type=Application
Categories=System;PackageManager;
