# Calculate chmod=755 format=kde env(client.os_remote_auth)!=&&ur_domain_set==on append=replace
[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=Home
Comment=Browser Home
Categories=Application;
Exec=thunar /home/#-ur_login-#/Home
Icon=user-home
Terminal=false
StartupNotify=false
