#------------------------------------------------------------------------------
# Modified Calculate Utilities 3.7.1.24
# Processed template files:
# /var/db/repos/calculate/profiles/templates/3.6/6_ac_desktop_profile/2-user/xfce-base/Xfce-4.10/Desktop/calculate-install.desktop
#------------------------------------------------------------------------------

[Desktop Entry]
Name=Calculate Linux Install
Name[ru]=Установка Windows 10
Name[fr]=Installer Calculate Linux
Name[es]=Instalar Calculate Linux
Name[de]=Calculate Linux installieren
Name[ua]=Установка Calculate Linux
Comment=Установка Windows 10
Exec=cl-console-gui-install
Icon=console-gui-install
Terminal=false
Type=Application
Categories=System;
StartupNotify=true
NoDisplay=false
Path=
GenericName=Установка Windows 10
