[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=LinuxBuh Installer
Comment=LinuxBuh Installer
Exec=xterm -maximized linuxbuh-installer
Icon=linuxbuh-installer.png
Type=Application
Categories=Office;

