# Calculate append=replace name=bootparam.config
#?pkg(sys-kernel/dracut)!=#init=/linuxrc rd.live.squashimg=#-cl_builder_current_squash-# nodevfs quiet noresume#!pkg#
init=/linuxrc looptype=squashfs unionfs doload=squashfs,isofs,unionfs loop=/#-cl_builder_current_squash-# nodevfs cdroot console=tty1 udev persistence quiet noresume scandelay=3 doscsi#pkg#
