# Calculate name=system.config os_builder_linux_system==desktop&&pkg(media-gfx/gfxboot-themes-calculate)==
HEADER

#-livemenu(submenu)-#

cld;
#?os_builder_linux_subname!=#
#-os_builder_linux_name-# #-os_builder_linux_ver-# #-os_builder_linux_subname-# Live#-cl_builder_cdname-#;
#!os_builder_linux_subname#
#-os_builder_linux_name-# #-os_builder_linux_ver-# Live#-cl_builder_cdname-#;
#os_builder_linux_subname#
/boot/vmlinuz;
#?pkg(sys-kernel/dracut)==#root=/dev/ram0#!pkg#root=#-cl_builder_root_param-##pkg#;
/boot/initrd;
#?pkg(media-gfx/splashutils)!=#
#-load(/bootmenu/bootparam.config)-# splash=silent,theme:calculate console=tty1;
#pkg#
#?pkg(media-gfx/splashutils)==&&pkg(sys-boot/plymouth)!=#
#-load(/bootmenu/bootparam.config)-# splash;
#pkg#
#?pkg(media-gfx/splashutils)==&&pkg(sys-boot/plymouth)==#
#-load(/bootmenu/bootparam.config)-# rd.plymouth=0 verbose;
#pkg#

cld-docache;
#?os_builder_linux_subname!=#
#-os_builder_linux_name-# #-os_builder_linux_ver-# #-os_builder_linux_subname-# Live#-cl_builder_cdname-# (RAM);
#!os_builder_linux_subname#
#-os_builder_linux_name-# #-os_builder_linux_ver-# Live#-cl_builder_cdname-# (RAM);
#os_builder_linux_subname#
/boot/vmlinuz;
#?pkg(sys-kernel/dracut)==#root=/dev/ram0#!pkg#root=#-cl_builder_root_param-##pkg#;
/boot/initrd;
#?pkg(media-gfx/splashutils)!=#
#-load(/bootmenu/bootparam.config)-# splash=silent,theme:calculate console=tty1 docache;
#pkg#
#?pkg(media-gfx/splashutils)==&&pkg(sys-boot/plymouth)!=#
#-load(/bootmenu/bootparam.config)-# splash docache;
#pkg#
#?pkg(media-gfx/splashutils)==&&pkg(sys-boot/plymouth)==#
#-load(/bootmenu/bootparam.config)-# rd.plymouth=0 verbose docache;
#pkg#

cld-nox;
#?os_builder_linux_subname!=#
#-os_builder_linux_name-# #-os_builder_linux_ver-# #-os_builder_linux_subname-# Live#-cl_builder_cdname-# (No-X);
#!os_builder_linux_subname#
#-os_builder_linux_name-# #-os_builder_linux_ver-# Live#-cl_builder_cdname-# (No-X);
#os_builder_linux_subname#
/boot/vmlinuz;
#?pkg(sys-kernel/dracut)==#root=/dev/ram0#!pkg#root=#-cl_builder_root_param-##pkg#;
/boot/initrd;
#?pkg(media-gfx/splashutils)!=#
#-load(/bootmenu/bootparam.config)-# splash=silent,theme:calculate console=tty1 nogui;
#pkg#
#?pkg(media-gfx/splashutils)==&&pkg(sys-boot/plymouth)!=#
#-load(/bootmenu/bootparam.config)-# splash nogui;
#pkg#
#?pkg(media-gfx/splashutils)==&&pkg(sys-boot/plymouth)==#
#-load(/bootmenu/bootparam.config)-# rd.plymouth=0 verbose nogui;
#pkg#
FOOTER
