HEADER
English,USA;English,USA;en_US
English,GB;English,GB;en_GB
Belarusian;Беларуская;be_BY
Brazilian;Português do Brasil;pt_BR
Bulgarian;Български;bg_BG
Danish;Dansk;da_DK
Belgium;Belgier;fr_BE
French;Français;fr_FR
French,Canada;Français Canadien;fr_CA
German;Deutsch;de_DE
Greek;Ελληνικά;el_GR
Icelandic;Icelandic;is_IS
Italian;Italiano;it_IT
Norwegian,Bokmål;Norsk bokmål;nb_NO
Norwegian,Nynorsk;Norsk nynorsk;nn_NO
Polish;Polski;pl_PL
Portuguese;Português;pt_PT
Romanian;Română;ro_RO
Russian;Русский;ru_RU
Spanish;Español;es_ES
Swedish;Svenska;sv_SE
Ukrainian;Українська;uk_UA
FOOTER
