HEADER
Belarusian (Belarus);Беларуская (Беларусь);be_BY;be_BY;Europe/Minsk
Bulgarian (Bulgaria);Български (България);bg_BG;bg_BG;Europe/Sofia
Bosnian (Bosnia and Herzegovina);Bosanski (Bosna i Hercegovina);bs_BA;bs_BA;Europe/Sarajevo
Czech (Czech Republic);Čeština (Česká republika);cs_CZ;cs_CZ;Europe/Prague
Danish (Denmark);Dansk (Danmark);da_DK;da_DK;Europe/Copenhagen
German (Germany);Deutsch (Deutschland);de_DE;de_DE;Europe/Berlin
Greek (Greece);Greek (Ελληνικά);el_GR;el_GR;Europe/Athens
English (Australia);English (Australia);en_AU;en_AU;Australia/Canberra
English (United Kingdom);English (United Kingdom);en_GB;en_GB;Europe/London
English (United States);English (United States);en_US;en_US;America/New_York
Spanish (Spain);Español (España);es_ES;es_ES;Europe/Madrid
Spanish (Uruguay);Español (Uruguay);es_UY;es_UY;America/Montevideo
Spanish (Venezuela);Español (Venezuela);es_VE;es_VE;America/Caracas
Estonian (Estonia);Eesti (Eesti);et_EE;et_EE;Europe/Tallinn
French (Belgium);Français (Belgique);fr_BE;fr_BE;Europe/Brussels
French (Canada);Français (Canada);fr_CA;fr_CA;Canada/Pacific
French (France);Français (France);fr_FR;fr_FR;Europe/Paris
Croatian (Croatia);Hrvatski (Hrvatska);hr_HR;hr_HR;Europe/Zagreb
Icelandic (Iceland);Íslenska (Ísland);is_IS;is_IS;Atlantic/Reykjavik
Italian (Italy);Italiano (Italia);it_IT;it_IT;Europe/Rome
Kazakh (Kazakhstan);Қазақ тілі (Қазақстан);kk_KZ;kk_KZ;Asia/Almaty
Lithuanian (Lithuania);Lietuvių (Lietuva);lt_LT;lt_LT;Europe/Vilnius
Latvian (Latvia);Latviešu (Latvija);lv_LV;lv_LV;Europe/Riga
Hungarian (Hungary);Magyar (Magyarország);hu_HU;hu_HU;Europe/Budapest
Dutch (Belgium);Nederlands (België);nl_BE;nl_BE;Europe/Brussels
Dutch (Netherlands);Nederlands (Nederland);nl_NL;nl_NL;Europe/Amsterdam
Norwegian Bokmål (Norway);Bokmål (Noreg);nb_NO;nb_NO;Europe/Oslo
Norwegian Nynorsk (Norway);Nynorsk (Noreg);nn_NO;nn_NO;Europe/Oslo
Polish (Poland);Polski (Polska);pl_PL;pl_PL;Europe/Warsaw
Portuguese (Brazil);Português (Brasil);pt_BR;pt_BR;Brazil/East
Portuguese (Portugal);Português (Portugal);pt_PT;pt_PT;Europe/Lisbon
Romanian (Romania);Română (România);ro_RO;ro_RO;Europe/Bucharest
Russian (Russia);Русский (Россия);ru_RU;ru_RU;Europe/Moscow
Slovak (Slovakia);Slovenčina (Slovenská republika);sk_SK;sk_SK;Europe/Bratislava
Slovenian (Slovenia);Slovenščina (Slovenija);sl_SI;sl_SI;Europe/Ljubljana
Albanian (Albania);Shqip (Shqipëria);sq_AL;sq_AL;Europe/Tirane
Finnish (Finland);Suomi (Suomi);fi_FI;fi_FI;Europe/Helsinki
Serbian (Serbia);Српски (Србија);sr_RS;sr_RS;Europe/Belgrade
Swedish (Sweden);Svenska (Sverige);sv_SE;sv_SE;Europe/Stockholm
Ukrainian (Ukraine);Українська (Україна);uk_UA;uk_UA;Europe/Kiev
FOOTER
