HEADER
Auto;auto;on
AMD Radeon (radeon) with composite;radeon;on
AMD Radeon (radeon);radeon;off
AMD AMDGPU (amdgpu) with composite;amdgpu;on
AMD AMDGPU (amdgpu);amdgpu;off
Intel (intel) with composite;i915;on
Intel (intel);i915;off
Framebuffer device (modesetting) with composite;modesetting;on
Framebuffer device (modesetting);modesetting;off
Nvidia Nouveau (nouveau) with composite;nouveau;on
Nvidia Nouveau (nouveau);nouveau;off
#?os_builder_linux_shortname!=CLS#Nvidia Graphics Driver (nvidia) with composite;nvidia;on
Nvidia Graphics Driver (nvidia);nvidia;off#os_builder_linux_shortname#
Generic VESA (vesa);vesa;off
FOOTER
