[Desktop Entry]
Name=LinuxBuh 1C Installer
Comment=LinuxBuh 1C Installer
Exec=xterm -maximized linuxbuh-1c-installer
Icon=linuxbuh-1c-installer
Type=Application
Categories=Office;

